.sectionBg {
  @apply transition-all duration-300;
  height: 100%;
  min-height: 500px;
}

.coverImg {
  @apply transition-all duration-300;
  opacity: 1;
}

.sectionBg:hover .coverImg {
  opacity: 1;
}

[data-theme='dark'] .coverImg {
  @apply mix-blend-lighten;
  opacity: 0.8;
}

[data-theme='dark'] .sectionBg:hover .coverImg {
  @apply mix-blend-lighten;
  opacity: 0.9;
}

.overlay {
  @apply from-[#FFFFFF] to-[#FFFFFF]/0;
}
[data-theme='dark'] .overlay {
  @apply from-[#181414] to-[#181414]/0;
}
